
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.insta {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex: 1;
    max-width: 1100px;
    padding: 20px;
}


.left {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo{
position: absolute;
    top: 40px;
    left: 30px;
}
.title-text {
    font-size: 35px;
    line-height: 1.7;
    margin-bottom: 20px;
    color: #000;
    position: absolute;
    top: 90px;
    left: 170px;
}


.gradient {
    background: linear-gradient(to right, #f97316, #d946ef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.photo img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 250px;
    left: 250px;
}

.vertical-line {
    width: 1px;
    height: 660px;
    background-color: #dbdbdb;
    border: none;
    position: absolute;
    margin-left: 200px;
}


.right {
    width: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
    align-self: flex-start;
}


.login input {
    width: 170%;
    height: 52px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 0 16px;
    margin-bottom: 12px;
    font-size: 16px;
}


.button-voiti {
    width: 170%;
    height: 48px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    margin-top: 15px;
}

.button-password {
    background: none;
    border: none;
    color: #000;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: 500;
}

.button-facebook, .button {

    width: 100%;
    max-width: 350px;
    height: 44px;


    margin: 0 auto 12px auto;


    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}


.button {
    color: #0095f6;
    border-color: #dbdbdb;
}

.meta {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.meta img {
    width: 80px; 
    opacity: 0.8;

}


.footer {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

.footer-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #737373;
    font-size: 12px;
}

.footer-footer p {
    color: #737373;
    font-size: 12px;
}

.meta img {
    width: 60px;
    margin-top: -5px;

}