body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fdfdfd;
}
.first{
    font-size: 30px;
    padding: 0px 290px;
}
.navbar{
    background: black;
    color: grey;
    padding: 15px 90px;
    font-size: 15px;
}
.main{
    text-align: center;
    margin-right: 145px;
}
#todoinp{
    width: 45%;
    height: 28px;
    margin-top: -4px;
}
#button-add{
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 4px;
}
#todolist{
    list-style: none;
    padding: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    width: 75%;
    margin-top: 45px;
    margin-left: 290px;
}
.todo-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.task-check {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.task-text {
    flex-grow: 1;
    margin-left: 15px;
    text-align: left;
    font-size: 16px;
}

.del-btn {
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-size: 18px;
}

.del-btn:hover {
    color: #ce2828;
}

