    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background:#f0f2f5    ;
        color: black;
        display: flex;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
        height: 950px;
    }
    .container {
        display: flex;
        max-width: 1000px;
        justify-content: center;
        padding-top: 200px;
        gap: 80px;
        align-items: center ;
        margin: 0 auto;
        width: 100%;



    }
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items:flex-start;
        margin-right: auto;
        margin-top: -170px;

    }
    .left img{
        width: 250px;
        height: 50px;
        margin-right: auto;

    }
    .left p{
        width: 200%;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        margin-top: -10px;
    }

    .right {
        width: 70%;
        background: white;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        min-height: 360px;
        margin-left: 170px;

    }

    .right-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-left: 70px;
        margin-top: -75px;


    }

    .right input {
        padding: 14px;
        margin-bottom: 12px;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #ddd;
        gap: 16px;
    }

    .login {
        background-color: #1877f2;
        color: white;
        font-size: 18px;
        padding: 12px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
    }

    .right-wrapper p{
        margin-top: 10px;
        width: 60%;
        text-align: center;
        font-size: 14px;
        margin-left: 170px;

    }
    .right a {
        text-align: center;
        margin: 12px 0;
        color: #1877f2;
        text-decoration: none;
        font-size: 13px;

    }
    .right a:hover {
        text-decoration: underline;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        border-top: 1px solid #ddd;
    }

    .signup {
        background-color: #42b72a;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        align-self: center;
        transition: background-color 0.3s ease;
    }

    .signup:hover {
        background-color: #338822;
    }

    .create-page {
        font-size: 12px;
        color: #1c1e21;
        text-align: center;
        max-width: 360px;
    }

    .footer {
        width: 100%;
        background: #fff;
        margin-top: auto;
        padding: 20px 0 28px;
        font-size: 12px;
        color: #8a8d91;
    }

    .footer-languages,
    .footer-links {
        max-width: 980px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 6px 20px;
        padding: 0 20px;

    }

    .footer-lang{
        align-items: center;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        justify-content: center;
    }

    .footer a {
        align-items: center;
        justify-content: center;
        color: #8a8d91;
        text-decoration: none;
    }

    .footer a:hover {
        justify-content: center;
        align-items: center;
        text-decoration: underline;
    }

    .footer-lang {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 8px 10px;
        flex-wrap: wrap    ;
        max-width: 980px;
        margin: 0 auto 10px;
        padding: 0 20px;
        font-size: 12px;
    }

    .footer-footer {
        align-items: center;
        display: flex;
        justify-content: left;
        width: 100%;
        max-width: 980px;
        margin: 10px auto 0;
        padding: 0 20px;
    }